.env
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Node.js
node_modules/

# Virtual Environments
venv/
.venv/
.venv-1/
.venv-2/

# Build/Output directories
build/
dist/
out/

# Logs
*.log

# IDE-specific files
.vscode/

# Foundry specific files
foundry.lock
cache/


